Please fill up the following
* Student Name: Chirag Gambhira
* Student ID: 10150117
* Student Email ID: chirag.bdapm10150117@spjain.org
* Student GitHub Repo URL: https://github.com/datablues/bdap2015.git

# DPSC Assignment 1

## Instructions

For each of the tasks below, write relevant R code in the cells and execute the cells before submission.

### Problem 1

Is the following a DataFrame?

control | pre-heated | pre-chilled
-------- | ---------- | ----------
5.9 | 5.8  | 6.1
6.2 | 7.3  | 6.3
8.2 | 5.4  | 7.1
5.8 | 6.3  | 6.9

**Ans: ** No this is not a dataframe as "control" "pre-heated" and "pre-chilled" are different conditions of one attribute.

### Problem 2

Import the *titanic.csv* file (present in the *data* folder of the repository, don't move it elsewhere or your pull request will be rejected) and create a statistical summary of the variables. Read the DataFrame into a variable called *titanic*.

In [1]:
titanic <- read.csv("/home/chiragg/Documents/gitdir/bdap2015/Design Patterns in Statistical Computing/data/titanic.csv", header = TRUE,stringsAsFactors = TRUE) 
summary(titanic)
str(titanic)

  PassengerId       Survived          Pclass
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000
 Median :446.0   Median :0.0000   Median :3.000
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

                                    Name         Sex           Age
 Abbing, Mr. Anthony                  :  1   female:314   Min.   : 0.42
 Abbott, Mr. Rossmore Edward          :  1   male  :577   1st Qu.:20.12
 Abbott, Mrs. Stanton (Rosa Hunt)     :  1                Median :28.00
 Abelson, Mr. Samuel                  :  1                Mean   :29.70
 Abelson, Mrs. Samuel (Hannah Wizosky):  1                3rd Qu.:38.00
 Adahl, Mr. Mauritz Nils Martin       :  1                Max.   :80.00
 (Other)                              :885                NA's   :177
     SibSp           Parch             Ticket         Fare
 Min.   :0.000   Min.   :0.0000   1601    :  7   Min.   :  0.00
 1st Qu.:0.000   1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91
 Median :0.000   Median :0.0000   CA. 2343:  7   Median : 14.45
 Mean   :0.523   Mean   :0.3816   3101295 :  6   Mean   : 32.20
 3rd Qu.:1.000   3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   CA 2144 :  6   Max.   :512.33
                                  (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 358 277 16 559 520 629 416 581 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 525 596 662 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

### Problem 3

For the DataFrame *titanic*

* Calculate the mean of all the numeric columns.
* Add its column sums to the original matrix as an additional row. Use *NA* for non-numeric columns.

In [2]:
#below attributes are converted from integer vriables to factor variables
titanic$Survived <- as.factor(titanic$Survived)  
titanic$Pclass <- as.factor(titanic$Pclass)     
titanic$SibSp <- as.factor(titanic$SibSp)
titanic$Parch <- as.factor(titanic$Parch)  
numer <- sapply(titanic, is.numeric)
numer
amean <-mean(titanic$Age,na.rm=TRUE)
fmean <-mean(titanic$Fare)
means <- as.vector(c(NA, NA, NA, NA, NA, amean, NA, NA, NA, fmean, NA, NA))
newtitan <-rbind(titanic,means)
tail(newtitan)

PassengerId    Survived      Pclass        Name         Sex         Age
       TRUE       FALSE       FALSE       FALSE       FALSE        TRUE
      SibSp       Parch      Ticket        Fare       Cabin    Embarked
      FALSE       FALSE       FALSE        TRUE       FALSE       FALSE

    PassengerId Survived Pclass                                     Name    Sex
887         887        0      2                    Montvila, Rev. Juozas   male
888         888        1      1             Graham, Miss. Margaret Edith female
889         889        0      3 Johnston, Miss. Catherine Helen "Carrie" female
890         890        1      1                    Behr, Mr. Karl Howell   male
891         891        0      3                      Dooley, Mr. Patrick   male
892          NA     <NA>   <NA>                                     <NA>   <NA>
         Age SibSp Parch     Ticket     Fare Cabin Embarked
887 27.00000     0     0     211536 13.00000              S
888 19.00000     0     0     112053 30.00000   B42        S
889       NA     1     2 W./C. 6607 23.45000              S
890 26.00000     0     0     111369 30.00000  C148        C
891 32.00000     0     0     370376  7.75000              Q
892 29.69912  <NA>  <NA>       <NA> 32.20421  <NA>     <NA>